In [19]:
## Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style="whitegrid", color_codes=True)

sns.set(rc={'figure.figsize':(11.7,8.27)})

In [10]:
## Read dataset
csv = 'heart.csv'
ds = pd.read_csv(csv)

In [ ]:
## Data description

# age (age in years)
# sex (1 = male, 0 = female)
# trestbps (resting blood pressure)
# chol (serum cholesteral in mg/dl)
# fbs (fasting blood sugar > 120 mg/dl) (1 = true, 0 = false)
# restech (resting electrocardiographic results)
# thalach (maximum heart rate achived)
# exang (exercised induced angina) (1 = yes, 0 = no)
# oldpeak (ST depression induced by exercise relative to rest)
# slope (the slope of the peak exercise ST segment)
# ca (number of major vessels (0-3) colored by flourosopy)
# thal (3 = normal; 6 = fixed defect; 7 = reversable defect)
# target (what we want to predict: patient has heart disease) (1 = true, 0 = false)

In [17]:
## Data exploration
# ds.info()
ds.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [25]:
sns.countplot(x='sex', data=ds)

IndexError: boolean index did not match indexed array along dimension 0; dimension is 207 but corresponding boolean dimension is 2

In [22]:
sns.scattterplot(x='age', y='target', data=ds)

AttributeError: module 'seaborn' has no attribute 'scattterplot'

In [23]:
ds['age'].median()

55.0